#animated-background{
    /* background: linear-gradient(
        to right, #833ab4,
        #fd1d1d, #fcb045
    ); */
    background: linear-gradient(
        to right, rgb(53, 1, 1),
        #1a1c74, #0f0724
    );
    background-size: 400% 400%;
    animation: animate-background 8s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position:  0 50%;
    }
}

/*  WWCD background style  */
#wwcd-background{
 background-image: url('../images/background/circle.jpg');
 background-position: fit-content;
 background-repeat: no-repeat;
 width: 100%;
 height: 100vh;
}
