#tournament-banner{
    /* background-image: url('../images/background/bg-slider.png'); */
    background-image: url('../images/background/gamingone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    

}