.animated-background{
    /* background: linear-gradient(
        to right, #833ab4,
        #fd1d1d, #fcb045
    ); */
    background: linear-gradient(
        to right, rgb(100, 98, 98),
        #1a1c74, #0f0724
    );
    background-size: 400% 400%;
    animation: animate-background 5s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position:  0 50%;
    }
}


.shadow-small{
    box-shadow: rgba(192, 188, 188, 0.25) 0px 14px 28px, rgba(231, 225, 225, 0.22) 0px 10px 10px;
}
